{% load static %}
<html>
    <head>
        <title>Nayeon Keum's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css1/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
<body>
    <div class="page-header">
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Nayeon Keum's blog</a></h1>
        <h3><a href="https://github.com/NayeonKeum/">Nayeon Keum's GitHub</a></h3>
    </div>
    <article><h2>Introduction</h2>
      <section><span class="subtitle">It's Me</span>
        <ul>
		  <li><img src="{% static 'assets/image0.png' %}" alt="My Image" width="100">
          <li>Name : Nayeon Keum</li>
          <li>University : </li>
          <li>Major : Computer Engineering</br>Submajor : Statisitcs</li>
          <li>Phone-number : 000-0000-0000</li>
        </ul>
	  </section>
    </article>
	<article>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
	</article>
    <aside><h4>FMI</h4><p>-rmaskdus0208@gmail.com</br>-ryann3@naver.com</p></aside>
</body>
</html>