.page-header {
    background-color: #bfc8f5;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
body{
	background-color: #121f5c;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.page-header h3, .page-header h3 a, .page-header h3 a:visited, .page-header h3 a:active {
    color: #5f7afa;
    font-size: 18pt;
}

.content {
    margin-left: 40px;
	color : white;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #767fab;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    color: #121f5c;
	background-color:#e4e7f7
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;

    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    color: white
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: white;

}